@import url('https://fonts.googleapis.com/css2?family=Sansita&family=Viga&display=swap');
* {
    margin:0;
    padding: 0;
    border: none; 
 }

 body {
    font-family: Sansita, sans-serif;
    background-color: #FAF2ED;
 }

 h1, h2 {
    font-family: Viga, sans-serif;
    text-transform: uppercase;
 }

 /* Creating Logo and Header Styles on Homepage */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header li {
    display: inline-block;
    padding-right: 30px;
}

#header h2 {
    word-spacing: 10px;
    font-size: 200%;
}


 #logo{
    height: 200px;
    padding: 20px;
 }
 
 #homepage-links {
    list-style: none;
    font-size: 100%;
    color: black;
 }


 #homepage-links a {
    text-decoration: none;
    color: black;
    display: flex;

 }

 #gingerbread {
    display: flex;
   flex-direction: column;
   align-items: center; 
 }

 #gingerbread img{
   height: 575px;
   width: 80%;
 }

 .divider {
   height: 20px;
 }

 #welcome-box {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   color: white;
   background-color:#B67F5F;
   height: 100px;
   width: 80%;
   padding: 40px;
 }

 #welcome-box h2, p {
   text-align: center;
   width: 80%;
 }

 #welcome-box p {
   font-size: 150%;
 }

 #welcome-box h2{
  margin-bottom: 10px;
 }
 
 #container {
   display: flex;
   justify-content: center;
 }

 /* #welcome-divider {
  border: 500px;
 } */

 /* Styling images and opening times banner on Homepage */
 
#container-coffee {
  display: flex;
  justify-content: row;
  text-align: center;
  row
 
}

#opening-times {
  display: flex;
  flex: 50%;
  padding: 10px;
  justify-content: column;
  flex-direction: column;
  background-color: blue;
}

#opening-times-header > h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

#list-align {
  text-align: left;
  margin-left: 180px;
  font-size: 130%;
}

.list-spacing {
margin-bottom: 20px;
}

#table-header > h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

#table {
  width: auto;
  margin-right: 250px;
  margin-left: auto;
  font-size: 110%;
}

#coffee {
  display: flex;
  width: 50%;
  padding: 10px;
}

 #coffee img {
  width: 70%;
  height: 600px;
  margin-left: 120px;
 }