@import url('https://fonts.googleapis.com/css2?family=Sansita&family=Viga&display=swap');
* {
    margin:0;
    padding: 0;
    border: none; 
 }

 body {
    font-family: Sansita, sans-serif;
    background-color: #FAF2ED;
 }

 h1, h2 {
    font-family: Viga, sans-serif;
    text-transform: uppercase;
 }

 /* Creating Logo and Header Styles*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header li {
    display: inline-block;
    padding-right: 30px;
}

#header h2 {
    word-spacing: 10px;
    font-size: 200%;
}


 #logo{
    height: 200px;
    padding: 20px;
 }
 
 #homepage-links {
    list-style: none;
    font-size: 100%;
    color: black;
 }


 #homepage-links a {
    text-decoration: none;
    color: black;
    display: flex;

 }

 #gingerbread {
    display: flex;
   flex-direction: column;
   align-items: center; 
 }

 #gingerbread img{
   height:600px;
   width: 90%;
 }

 hr {
   height: 20px;
 }

 #welcome-box {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   height: 150px;
   padding: 20px;
   color: white;
   background-color:#B67F5F;
 }

 #welcome-box h2, p {
   text-align: center;
   width: 80%;
 }

 #welcome-box p {
   font-size: 150%
 }
 
 