@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sansita&display=swap');

* {
    margin:0;
    padding: 0;
    border: none; 
 }

 body {
    font-family: Sansita, sans-serif;
 }

 h1, h2 {
    font-family: Bebas-Neue, sans-serif;
    text-transform: uppercase;
 }

 /* Creating Logo and Header Styles*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header li {
    display: inline-block;
    padding-right: 30px;
}

#header h2 {
    word-spacing: 10px;
}


 #logo{
    height: 200px;
    padding: 20px;
 }
 
 #homepage-links {
    list-style: none;
    font-size: 100%;
    color: black;
 }


 #homepage-links a {
    text-decoration: none;
    color: black;
    display: flex;

 }

 #gingerbread {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    height: 50px;
   
 }

